.button {
    background-color: pink;
    color: rgb(143, 33, 63);
    border-radius: 25px;
    border: 2px dotted rgb(224, 132, 146);
    padding: 8px 15px;
    max-width: 125px;
    transition: 0.2s all ease-in-out;

    &:hover {
        transform: scale(1.2);
        box-shadow: 3px 3px 10px 1px rgb(171, 97, 117);
        background: rgb(230, 157, 169)
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}